<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>
<body>
<h1>new book</h1>
<div class="alert" th:text="${alert}" th:if="${alert}"></div>
<div>
    <form action="#" th:action="@{/anima/books/new}" method="post">
        <div>
            <label for="isbn">Isbn</label>
            <input type="text" name="isbn" id="isbn"/>
        </div>
        <div>
            <label for="title">タイトル</label>
            <input type="text" name="title" id="title"/>
        </div>
        <div>
            <label for="author">著者</label>
            <input type="text" name="author" id="author"/>
        </div>
        <div>
            <label for="price">価格</label>
            <input type="number" name="price" id="price"/>
        </div>
        <div>
            <input type="submit" value="new"/>
        </div>
    </form>
</div>
</body>
</html>
